.combine-panel-box {
    background: #fff;
    border: 1px solid rgb(68, 67, 67);
    border-radius: 8px;
    height: 990px;
    width: 575px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: center;
}

.cbpl-content-container {
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
    overflow-x: auto;
    overflow-y: auto;
}