
/*template-panel-box view*/
.template-panel-box {
  background: #fff;
  border: 1px solid rgb(68, 67, 67);
  border-radius: 8px;
  width: 1030px;
  height: 456px;
  padding: 0;
  margin-bottom: 8px;
  margin-left: 8px;
  text-align: center;
  overflow: hidden;
}

.template-content-box {
  width: 1035px;
  height: 426px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  text-align: center;
  overflow-y: auto;
}

.template-left-item{
  padding: 0px 10px;
  height: 30px;
  line-height: 25px;
  font-size: 13px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.sample-item-wrap {
  width: 515px;
  height: 65px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
  display: grid;
  grid-template-columns: 150px 365px;
  grid-template-rows: 65px;
}

.sample-item-information{
  width: 150px;
  height: 65px;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.sample-item-icon{
  box-sizing: border-box;
  height: 35px;
  line-height: 35px;
  display: grid;
  grid-template-columns: 75px 75px;
  grid-template-rows: 35px;
}

.item-image-wrap{
  align-items: center;
}

.sample-item-name{
  box-sizing: border-box;
  height: 25px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 400;
}

.sample-item-name:hover{
  font-size: 14px;
  color: #ef8829;
  font-weight: 500;
  cursor: pointer;
}

.sample-item-chart{
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}



.sample-item-svg{
  width: 20px;
  height: 22px;
  margin : 0 audio;
  cursor: pointer;
}
