
@font-face{
　　font-family: 'lato';
　　src: url('./assets/Lato-Regular.ttf');
}
@font-face{
    font-family: 'DFPSongW9';
    src : url('./assets/DFPSongW9.ttf');
}
@font-face{
    font-family: 'consola';
    src : url('./assets/consola.ttf');
}

body {
    overflow-x: hidden;
    /* overflow-x: auto; */
    /* overflow-y: hidden;  */
    overflow-y: auto;
    text-transform: capitalize;
    /* font-family:'lato'; */
    /* font-family: 'DFPSongW9'; */
    font-family: 'consola';
}

body::-webkit-scrollbar-track {
    border: 1px solid #d3d3d3;
    background-color: #f5f5f5;
}

body::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
    background-color: #d3d3d3;
}

.example-board {
    overflow-x: hidden;
    overflow-y: auto;
    width: 1920px;
    height: 1005px;
    padding-top: 15px;
}

.simple_scrollbar {
    overflow-x: hidden;
    overflow-y: auto;
}

/* 滚动条 */
.simple_scrollbar::-webkit-scrollbar-track {
    border: 1px solid #d3d3d3;
    background-color: #f5f5f5;
}

.simple_scrollbar::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background-color: #f5f5f5;
}

.simple_scrollbar::-webkit-scrollbar-thumb {
    background-color: #d3d3d3;
}

/* 滚动条 */
.example-board::-webkit-scrollbar-track {
    border: 1px solid #d3d3d3;
    background-color: #f5f5f5;
}

.example-board::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background-color: #f5f5f5;
}

.example-board::-webkit-scrollbar-thumb {
    background-color: #d3d3d3;
}


/*data view*/
.data-box {
    background: #fff;
    border: 1px solid rgb(68, 67, 67);
    border-radius: 8px;
    height: 456px;
    width: 280px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 8px;
    margin-left: 8px;
    text-align: center;
    overflow: hidden;
}

/*grammar view*/
.grammar-box {
    background: #fff;
    border: 1px solid rgb(68, 67, 67);
    border-radius: 8px;
    /* height: 970px;
    width: 280px; */
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: center;
    overflow: hidden;
}

.filename {
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
}

.json-text {
    text-align: left;
    /* height: 900px; */
    font-family: 'sans-serif';
    font-size: 14px;
    padding-left: 10px;
    margin-top: 10px;
    /* overflow: scroll; */
}

.upload-item {
    width: 8px;
    height: 8px;
    fill: currentColor;
    float: right;
    margin-left: 3px;
    margin-right: 20px;
}

/*basic view*/
.basic-box {
    background: #fff;
    height: 525px;
    width: 280px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 6px;
    margin-left: 6px;
    text-align: center;
    overflow: hidden;
}

.basic-box-content{
    overflow-x: visible;
    overflow-y: auto;
}



/*layout view*/
.layout-box {
    background: #fff;
    border: 1px solid rgb(68, 67, 67);
    border-radius: 8px;
    height: 380px;
    width: 270px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: center;
    overflow: hidden;
}

/*preview view*/
.preview-box {
    background: #fff;
    border: 1px solid rgb(68, 67, 67);
    border-radius: 8px;
    flex-direction: column;
    padding: 0;
    margin-bottom: 8px;
    margin-left: 8px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

/*theme*/
.board {
    /* background: #b2b5b9; */
    background: white;
    height: 1080px;
    width: 1920px;
    overflow-y: hidden;
    overflow: hidden;

}

.comparison-switch{
    float: right;
    margin-right:10px;
}

.icon {
    width: 1.4em;
    height: 1.4em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    float: right;
    margin-left: 3px;
    margin-right: 8px;
    margin-top: 3px;
    color: #fff;
    cursor: pointer;
}

.window-header{
    display: flex;
    justify-content: flex-start;
    height: 60px;
    background: #e6e6e6;
    padding-left: 19px;
    align-items: center;
}

.window-header-text{
    display: flex;
    justify-content: flex-start;
    height: 60px;
    /* background: #999999; */
    padding-top: 5px;
    align-items: baseline;
}

.title {
    font-size: 35px;
    /* padding-left: 12px; */
    color: #222;
    padding-right: 35px;
}

.title-graph-svg{
    width: 50px;
    height: 50px;
    margin : 0 10px;
    cursor: pointer;
}

.bold-font{
    font-weight: 600;
}

.header-sub-title{
    font-size: 20px;
    padding: 0 12px;
    font-weight: 200;
    color: #222;
    cursor: pointer;
}

.header-sub-divide{
    width: 1px;
    height: 20px;
    border: 1px solid #222;
    box-sizing: border-box;
}
.header-sub-choose{
    color: black;
    font-weight: 700;
}

.sub-title {
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    border-bottom: 1px solid #443939;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-top: 2px;
    padding-left: 5px;
    height: 30px;
    width: 100%;
    background-color: #fff;
}

.combine-inner-title {
    font-size: 13px;
    font-weight: 500;
    text-align: left;
    border-bottom: 1px solid #e6e6e6;
    padding-top: 2px;
    padding-left: 5px;
    height: 25px;
    width: 100%;
    background-color: #e6e6e6;
    text-transform:none;
}

.combine-inner-border {
    border: 4px solid #e6e6e6;
}

.subsub-title {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    border-bottom: 1px dashed #443939;
    padding-top: 4px;
    height: 32px;
    width: 100%;
    background-color: #fff;
}

.type {
    font-size: 12px;
    height: 14px;
    width: 100%;
}

.col {
    float: left;
}

.row {
    display: inline-flex;
    padding-top: 10px;
}

.divider {
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    line-height: 1px;
    border-left: 40px solid rgb(46, 45, 45);
    border-right: 40px solid rgb(46, 45, 45);
    text-align: center;
}

.item0 {
    font-size: 12px;
}

.graph {
    overflow: scroll;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.selected {
    background-color: #f8f5ee;
    border: 1px solid #f3bd98;
    border-radius: 3px;
}

.configDiv .ant-row {
    margin-top: 3px;
    margin-bottom: 3px;
}

.configDiv .ant-col {
    text-align: left;
    text-indent: 15px;
    padding-left: 0;
}

.setLabel {
    display: inline;
    width: 100%;
    padding-left: 5px;
}

.configDiv {
    width: 100%;
    height: 100%;
}

